@{
    ViewData["Title"] = "Mural Page";
}
    
@* @{
    ViewBag.Title = "Galeria de Imagens";
}

<div class="container">
    <h1>Galeria de Imagens</h1>
    
    <div class="row">
        @foreach (var image in ViewBag.Images)
        {
            <div class="col-md-4">
                <a href="#" data-toggle="modal" data-target="#modalImage@(image.Id)">
                    <img src="@Url.Content(image.Url)" class="img-thumbnail" alt="@image.Description" />
                </a>
                <div class="modal fade" id="modalImage@(image.Id)" tabindex="-1" role="dialog" aria-labelledby="modalImageLabel@(image.Id)" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalImageLabel@(image.Id)">@image.Description</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="@Url.Content(image.Url)" class="img-fluid" alt="@image.Description" />
                            </div>
                        </div>
                    </div> *@